@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }
    .nav-toggle {
        display: none;
    }

    .header-nav {
        display: block;
        position: static;
        width: auto;
        background: none;
        box-shadow: none;
        padding: 0;
    }

    .nav-list {
        flex-direction: row;
        gap: 25px;
    }
    
    .nav-item {
        border-bottom: none;
    }
    .nav-item a:hover {
        color: var(--primary-color);
    }

    .nav-contact a {
        background-color: var(--primary-color);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
    }
    .nav-contact a {
        color: #ffffff !important;
    }

    .hero-section {
        flex-direction: row;
        text-align: left;
        align-items: flex-start;
        min-height: 80vh;
        padding: 80px 5%;
    }
     .hero-content {
        flex: 1;
        max-width: 50%;
    }

    .hero-title {
        font-size: 4em;
    }

    .hero-image-container {
        flex: 1;
        max-width: 50%;
        transform: translateX(10%); 
        border-radius: 0 0 0 0;
    }

    .stats {
        justify-content: flex-start;
        gap: 20px;
        margin-top: 20px;
    }
    
    .stats-item {
        flex: 1 1 calc(33% - 14px); 
    }
}