html {
  font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4CAF50;
    --secondary-color: #f4f4f4;
    --font-color: #333;
    --placeholder-color: #888;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}