@media only screen and (min-width: 40em) {
    .navigation {
        display: flex;
        position: static;
        top: auto;
        flex-direction: row;
        width: auto;
        justify-content: flex-end;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    .navigation li {
        padding: 0 .8rem;
    }
    #menu {
        display: none;
    }

    .card-container {
    grid-template-columns: repeat(3, 1fr);

    }
}